<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dace.textreader"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PERMISSION_GRANTED"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 安装包权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 可接受的最大从横比 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"/>

        <!-- android9.0非加密网络请求处理方式 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <!-- APP更新自动安装 -->
        <provider
            android:name=".util.MyFileProvider"
            android:authorities="com.dace.textreader.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- 推送 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.dace.textreader"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.AuthorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.DisclaimerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.PerfectUserInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <!-- ImagePicker 相关配置 -->
        <activity
            android:name="com.linchaolong.android.imagepicker.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity
            android:name=".activity.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.NewSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.WordExplainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="pythe"
                    android:scheme="app"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.WXBindNumberActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.WXPerfectUserInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.AbilityAnalysisActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.UserInfoChangeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/GuideActivityTheme">
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1106272259"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".activity.IntensiveReadingActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".activity.GlossaryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.AfterReadingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.GlossaryWordExplainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.NotesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NotesActivityTheme">
        </activity>
        <activity
            android:name=".activity.AddNoteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ExcerptActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.MoreClassesArticleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.WritingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.NewMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.NewSettingsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.MicroLessonActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewClassesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.NewReaderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TransitActivity"
            android:launchMode="singleTop"
            android:theme="@style/Translucent">
        </activity>
        <activity
            android:name=".activity.RechargeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".activity.WalletActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.NewCollectionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.SubmitReviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.MaterialListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.MaterialDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.NewsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.TransactionRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.PointsNewsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.WritingNewsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.ServiceAgreementActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.StartupPageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Startup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewArticleDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewCommentListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>

        <service
            android:name=".audioUtils.PlayService"
            android:exported="false"/>
        <service
            android:name=".service.DownloadService"
            android:exported="false"/>

        <activity
            android:name=".audioUtils.BasePlayerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AudioPlayerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.OperationResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SystemNewsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BoughtLessonActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.DailySentenceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.AfterReadingDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.NewWeekRankActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.LessonTextActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.WriteAfterReadingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".activity.WritingTimeLimitSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.NotesSummaryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MyCompositionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.OrderDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.OrderAppraiseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.WritingSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.WritingSortListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.WritingEventDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.NewUnReadCommentsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.BuyCardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.CardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.CouponActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.InviteActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.InviteRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.CouponChooseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.CardChooseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity android:name=".activity.BaseActivity">
        </activity>
        <activity
            android:name=".activity.WritingWorkActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.BindTeacherActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.MyselfNewsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.PasswordLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.WxSetPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.UpdateIntroductionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity
            android:name=".activity.UpdateGradeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.EventListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.NewDailySentenceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.HomeAudioDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.UserHomepageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.FansListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.SearchComplexActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.CompositionDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WritingOperateResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.WritingTemplateChooseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.ErrorCorrectionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.InviteCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.VoiceEvaluationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.VoiceEvaluationResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.VoiceEvaluationSelfActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.VoiceEvaluationSpeechActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.VoiceEvaluationEntranceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.ImageToTextActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.MemberCentreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.LiveShowLessonChooseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.KnowledgeSummaryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.KnowledgeDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme">
        </activity>
        <activity
            android:name=".activity.ReaderTabActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"/>
        <activity
            android:name=".activity.ReaderTabAlbumDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"/>
        <activity android:name=".activity.ArticleDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/NewMainTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.ArticleDetailActivityTest"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"/>
        <activity android:name=".activity.WordDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"/>
        <activity android:name=".activity.ArticleNoteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"/>
        <activity android:name=".activity.ArticleAppreciationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"/>
        <activity android:name=".activity.ContactActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NewMainTheme"/>
    </application>

</manifest>